# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: 
author: Hypnospy Developers
logo: logo.png
copyright: "2021" 

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: https://github.com/ippozuelo/HypnosPy # Online location of your book
  path_to_book: book  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

launch_buttons:
  notebook_interface: "jupyterlab"
  binderhub_url: https://mybinder.org/v2/gh/ippozuelo/HypnosPy/cd818b1a7c2d880e34f61a40fcad255913a1571a